*,*::before,*::after {box-sizing:border-box;}
body{
    margin:0;
    padding:0;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#grid-container{
    display: grid;
    width: 500px;
    height: 500px;
}
.grid-element{
    box-shadow: 0 0 0 1px #CCC;
    user-select: none;
}